<header>
<style>
    a{
        background-color: aqua;
    }
</style>
<h1>
<a style="color:wheat" href="/">CMS</a>

</h1>
<% if(currentUser){ %>
    <a href="/createBlog">Add Blog</a>
    <a href="/myBlog">myBlog</a>
    <a href="/logout">Logout</a>

<%}else{ %>

    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% } %>



</header>